<script type="text/javascript">
  window.env = {};
  window.env.REACT_APP_CLIENT_ID = "{{ content.client_id }}";
  window.env.REACT_APP_CLIENT_SECRET = "{{ content.client_secret }}";
  window.env.REACT_APP_ENDPOINT_URL = "{{ content.endpoint_url }}";
  window.env.REACT_APP_DATA_STREAM = JSON.stringify({{ content.data_stream|raw }});
  window.env.PUBLIC_URL="{{ content.public_url }}";
  window.env.STORAGE="{{ content.first_party_server }}";
  {% if content.first_party_server == "external" %}
    window.env.REACT_APP_HEADER_JWT="true";
  {% endif %}
</script>
{{ attach_library('aesirx_analytics/aesirx_analytics.bi') }}
<div id="biapp" class="aesirxui"></div>